@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.wholeContainer{
    background-color:rgb(224, 79, 79);
}

.navbarDesktopContainer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:15vh;
    width:100%;
    background-color:bisque;
    position:fixed;
    padding-right:10px;

}

.allSectionsDesktop{
    display:flex;
    flex-direction:row;
    margin-right:20px;
}
.allSectionsMobile{
    display:none;
}
.sectionLink{
    color:brown;
    font-size:20px;
    margin-left:10px;
    margin-right:10px;
    text-decoration:none;
}
.section{
    list-style-type:none;
}
.nameLogo{
    color:brown;
    font-size:25px;
    margin-left:10px;
}
.sectionLink:hover{
    color:rgb(224, 79, 79);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(224, 79, 79);
}
.menuIcon{
    display:none;
}
.closeIcon{
    display:none;
}

@media screen and (max-width:769px){
    .nameLogo{
        font-size:15px;
    }
    .menuIcon{
        display:block;
        margin-right:30px;
        font-size:35px;
    }
    .allSectionsDesktop{
        display:none;
    }
    .closeIcon{
        display:block;
        margin-left:30px;
        font-size:35px;
        margin-top:10px;
        cursor:pointer;
    }
    .allSectionsMobile{
        display:block;
        background-color:burlywood;
        flex-direction:column;
        color:brown;
        position:fixed;
        top:0;
        right:0;
        width:150px;
        height:100vh;
        padding-top:50px;
        margin-right:0;
    }
    .CloseMenu{
        right:-200px;
    }
    
    .section{
    margin-top:10px;
    margin-bottom:10px;
    }
    
}

