.expContainer{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:rgb(224, 79, 79);
  width:100%;
  padding:10px;
}
.expPara{
  font-size:30px;
  margin-top:10px;
  color:white;
}
.expHeading{
  font-size:40px;
  margin-top:5px;
  color:cornsilk;
}
.eachContainer{
  display:flex;
  flex-direction:row;
  align-items:center;
  
  color:crimson;
  border:2px solid brown;
  border-radius:10px;
  min-width:60%;
  background-color:pink;
  padding:10px;
  margin:10px;
  max-width:80%;
}
.name{
  font-size:20px;
  color:brown;
}
.stream{
  color:brown;
}
.eachItem{
  display:flex;
  flex-direction:column;
  align-self:flex-start;
  margin-left:15px;
  text-align:left;
}
.Image{
  height:100px;
  width:100px;
  margin-right:20px;
}

@media screen and (max-width:600px){
  .expHeading{
    text-align:center;
  }
  .eachContainer{
    min-width:70%;
   
  }
  .experience{
    margin-right:30px;
  }
  .experienceItem{
    
  }
  
  
}