
  /* CONTACT */

  .contactContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    height: 100vh;
    background-color:rgb(224, 79, 79);
    width:100%;
    padding:10px;
  }
  
  .contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 20px;
    max-width:90%;
  }
  
  .contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
    color:white;
  }
  .para{
    font-size:30px;
    margin-top:10px;
    color:white;
}
.Heading{
    font-size:40px;
    margin-top:5px;
    color:cornsilk;
}


.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.contact-container {
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  padding: 15px;
  margin: 5px;
  width: 60vh;;
}

.form-container{
  display: flex;
  flex-direction: row;
}

.txt{
  height: 19vh;
  width: 80%;
}
.footer{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.para{
  margin-top: 20px;
}

.submitButton{
  margin:10px;
    background-color:antiquewhite;
    color:brown;
    border-radius:10px;
    padding:10px;
    border:2px solid brown;
    width:6rem;
}
.submitButton:hover{
    background-color:rgba(41, 128, 0, 0.911);
    color:white;
    border:2px solid brown;
}
.mail{
    color:bisque;
    text-decoration:none;
}

.email-container {
  display: flex;
  align-items: center;

  gap: 0.5rem;
  margin: 1rem;
}

.bottom-btn-email-container{
  display: flex;
  justify-content: space-around;
}

.inputs-container{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1400px) {
  #contact,
  #projects {
    height: fit-content;
  }
  

}

@media screen and (max-width: 1200px) {
  .experience-details-container {
    margin-top: 2rem;
  }
  
}

@media screen and (max-width: 913px) {
  footer {
    height: 40vh;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
.txt{
  border-radius:5px;
}
  
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  
  .nav-links li a {
    font-size: 1rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .title {
    font-size: 2rem;
  }
  
  .bottom-socialmedia{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
  }

  .contact-container {
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    padding: 5px;
    margin: 5px;
    width: 80%;
  }
  .inputs-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    
  }
  .contact-info-upper-container,
  .btn-container,
  .contact-container,
  .contact-info-container,
  .email-container,
  .inputs-container,
  .form-container,
  .bottom-btn-email-container,
  .btn,
  .btn-color-1,
  .button,
  .icon,
  .contact-icon{
    flex-wrap: wrap;
  }
  
}